* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-body {
    padding-bottom: 5px !important;
}

#cardBody {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    width: 400px;
}

.timeText {
    padding: 10px;
}

@media screen and (max-width: 605px) {
    #cardBody {
        width: 95vw;
    }

    .timeText {
        font-size: 0.9rem;
    }
}